@{
    ViewData["Title"] = "Home Page";
}

<header class="container">
    <div class="text-center">
    <h1 class="display-4">BayAir</h1>
    </div>
</header>
<br />
<br />
<main>
   <div class="container">
      <img src="~/img~/img/1_Rio.jpg" class="img-fluid" alt="Rio de Janeiro">
      <h3 class="display-4"> ByAir</h3>
   </div>

</main>
<div class="Corpo">

</div>
